# Copy this file to .env and fill in your values from Supabase
VITE_SUPABASE_URL=https://mbhgornybnedsloqzdhz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1iaGdvcm55Ym5lZHNsb3F6ZGh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NDQ4ODksImV4cCI6MjA5MTAyMDg4OX0.hd1x39YgwygqTNpl1yXiIbdsXpwM5_HUMecJDCqw4t8
